 .value {
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    color: #292F33;
    margin: 10px;
 }

 .value .odata-name {
     display: flex;
      gap: 4rem; 
     padding: 3px;
 }   

 .value .odata-address {
    display: flex;
    gap: 2.7rem; 
    padding: 3px;
}

.value .odata-gender {
    display: flex;
    gap: 3.2rem; 
    padding: 3px;
}

.value .odata-phoneno {
    display: flex;
    gap: 1.9rem; 
    padding: 3px;
}